body {
  background-color: #f8f9fa;
}

.navbar-purple {
  background-color: #3d0463f0;
}

.btn-orange {
  background-color: #FF6B00;
  border-color: #FF6B00;
  color: white;
}


.dom-modal {
  background: #0f0f0f;
  color: white;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}


.pp-left {
  background: #47186B;
  color: white;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pp-right {
  background: #fff;
  padding: 15px;
}

.pp-close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 15;
  filter: invert(1);
  background-color: black;
}


.pp-title span {
  color: #FF6B00;
}


/* Botón degradado de tu marca */
.pp-btn {
  background: linear-gradient(90deg, #5C0099, #FF6B00);
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  margin-top: 22px;
  transition: .3s;
}

.pp-btn:hover {
  opacity: .9;
}

.pp-small-text {
  font-size: 20px;
  color: #ffcf80;
}


.pp-right {
  background: #fff;
  padding: 15px;
}


.pp-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}


.pp-grid img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
}


.pp-grid img:nth-child(1) {
  height: 250px;
}

.pp-grid img:nth-child(2) {
  height: 250px;
}

.pp-grid img:nth-child(3) {
  height: 360px;
  grid-row: span 2;
}

.pp-grid img:nth-child(4) {
  height: 240px;

}

.pp-grid img:nth-child(5) {
  height: 180px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  /* fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}


.btn-orange {
  background-color: #f66a0a;
  color: #fff;
  border-radius: 8px;
  transition: .3s;
  border: none;
}

.btn-orange:hover {
  background-color: #e35d06;
  transform: scale(1.05);
}


.pp-scroll-exacto {
  overflow-x: auto;
  padding-bottom: 10px;
}

.pp-scroll-exacto::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}



.title-oleo {
  color: #1dd3b0;
  font-size: 2rem;
  margin-bottom: 15px;
}

.title-acuarela {
  color: #FF6B00;
  font-size: 2rem;
  margin-bottom: 15px;
}

.title-pincel {
  color: purple;
  font-size: 2rem;
  margin-bottom: 15px;
}

.title-lapiz {
  color: #1dd3b0;
  font-size: 2rem;
  margin-bottom: 15px;
}

.title-gises {
  color: #FF6B00;
  font-size: 2rem;
  margin-bottom: 15px;
}

.title-gouache {
  color: purple;
  font-size: 2rem;
  margin-bottom: 15px;
}

.title-otros {
  color: #1dd3b0;
  font-size: 2rem;
  margin-bottom: 15px;
}

.product-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  background: #f0efec;
}

.product-card img {
  transition: .3s ease-in-out;
}

.product-card:hover img {
  filter: brightness(60%);
}

.overlay {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: .3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.product-card:hover .overlay {
  opacity: 1;
}


.price-tag-oleo {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #1dd3b0;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.offer-tag-oleo {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #1dd3b0;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.btn-comprar-oleo {
  background-color: #5FD7C9 !important;
  border: none !important;
  color: white !important;
  font-weight: bold;
}

.btn-comprar-acuarela {
  background-color: #FF6B00 !important;
  border: none !important;
  color: white !important;
  font-weight: bold;
}



.price-tag-acuarela {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #FF6B00;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.offer-tag-acuarela {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #FF6B00;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}


.btn-comprar-pincel {
  background-color: purple !important;
  border: none !important;
  color: white !important;
  font-weight: bold;
}


.price-tag-pincel {
  position: absolute;
  top: 12px;
  left: 12px;
  background: purple;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.offer-tag-pincel {
  position: absolute;
  top: 12px;
  right: 12px;
  background: purple;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}


.btn-comprar-lapiz {
  background-color: #1dd3b0 !important;
  border: none !important;
  color: white !important;
  font-weight: bold;
}


.price-tag-lapiz {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #1dd3b0;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.offer-tag-lapiz {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #1dd3b0;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.btn-comprar-gises {
  background-color: #FF6B00 !important;
  border: none !important;
  color: white !important;
  font-weight: bold;
}


.price-tag-gises {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #FF6B00;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.offer-tag-gises {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #FF6B00;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.btn-comprar-gouache {
  background-color: purple !important;
  border: none !important;
  color: white !important;
  font-weight: bold;
}


.price-tag-gouache {
  position: absolute;
  top: 12px;
  left: 12px;
  background: purple;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.offer-tag-gouache {
  position: absolute;
  top: 12px;
  right: 12px;
  background: purple;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.price-tag-otros {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #1dd3b0;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.offer-tag-otros {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #1dd3b0;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.btn-comprar-otros {
  background-color: #5FD7C9 !important;
  border: none !important;
  color: white !important;
  font-weight: bold;
}



.footer {
  background-color: #6b88a3;
  /* azul-gris moderno */
  padding: 40px 5%;
  color: white;
  margin-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  font-size: 40px;
  margin-bottom: 15px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.footer-col p {
  margin: 5px 0;
  opacity: 0.9;
}

/* Redes sociales */
.footer-social a {
  color: white;
  margin-right: 12px;
  font-size: 18px;
  text-decoration: none;
}

.footer-social a:hover {
  opacity: 0.7;
}

/* Íconos de FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');